{% extends 'base.html' %}  <!--herança de template-->
{% load static %}
{% block titulo %}
Lista de Dispersão
{% endblock titulo %}

{% block conteudo %}

<h4 class="py-3">Lista de Dispersão</h4>

    {% for i in dispersao %}

        <div class="card mb-3">
            
            <div class="card-body">
                <div style="float: left; margin-right: 10px;">
                    <img src="{% static 'imagens/bolsa_sangue.png' %}" alt="logo dispersao" style=" width: 75px; height: auto;">
                </div>
                <h5 class="card-title"> Nome Funcionário: {{ i.cod_func }} </h5>
                <h6 class="card-text"> Nome Hospital: {{ i.cod_hospital}} </h6>
                <h6 class="card-text"> Tipo Sangue: {{ i.cod_tiposang }} </h6>
                <h6 class="card-text"> Quantidade de Bolsa: {{ i.qtd_bolsa }} </h6>
                <h6 class="card-text"> Data da dispersão: {{ i.data }} </h6>
                <hr>
                <a href="{% url 'editar_dispersao' i.id %}">Editar</a>
                <a href="{% url 'excluir_dispersao' i.id%}">Excluir</a>
            </div>
        </div>

    {% endfor %}

<a href="{% url 'solicitar_dispersao' %}"><input type="button" class="btn btn-primary mb-3" value=" Solicitação de Dispersão "></a>

{% endblock conteudo %}