{% extends 'base.html' %}
{% load static %}

{% block titulo %}
    Home 
{% endblock titulo %}

{% block conteudo %}

<div class="container d-flex align-items-center bg-light" style="margin-top:50px; padding: 50px;" >
    <div class="justify-content-start " style="max-width: 900px; padding: 0; font-family:Arial, Helvetica, sans-serif;" >
        <style>
            .custom-btn {
                width: 100%;
                height: 150px;
                border: 2px solid rgb(153, 153, 153);
                box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
                
            }
        </style>
        <div class="row">
            <div class="col-lg-4 mb-4">
                <a href="{% url 'listar_doador' %}">
                    <button type="button" class="btn btn-light custom-btn">Visualizar Doadores</button>
                </a>
            </div>
            <div class="col-lg-4 mb-4">
                <a href="{% url 'cadastrar_tiposangue' %}">
                    <button type="button" class="btn btn-light custom-btn">Inserir Tipo Sanguíneo</button>
                </a>
            </div>
            <div class="col-lg-4 mb-4">
                <a href="{% url 'cadastrar_hospital' %}">
                    <button type="button" class="btn btn-light custom-btn">Cadastrar Hospital</button>
                </a>
            </div>
            <div class="col-lg-4 mb-4">
                <a href="{% url 'solicitar_dispersao' %}">
                    <button type="button" class="btn btn-light custom-btn">Solicitação de Dispersão</button>
                </a>
            </div>
            <div class="col-lg-4 mb-4">
                <a href="{% url 'inserir_doacao' %}">
                    <button type="button" class="btn btn-light custom-btn">Nova Doação</button>
                </a>
            </div>
            <div class="col-lg-4 mb-4">
                <a href="{% url 'cadastrar_agendamento' %}">
                    <button type="button" class="btn btn-light custom-btn">Cadastrar Agendamento</button>
                </a>
            </div>
            <div class="col-lg-4 mb-4">
                <a href="{% url 'listar_agendamentos' %}">
                    <button type="button" class="btn btn-light custom-btn">Listar Agendamento</button>
                </a>
            </div>
        </div>
    </div>
    
    <div class="justify-content-end" style="padding: 0; margin-left: 50px;">
        <img src="{% static 'imagens/gif_doacoes.gif' %}" alt="Logo" width="auto" height="auto">
    </div>
</div>
    
    
    

{% endblock conteudo %}
