{% extends 'base.html' %}


{% load static %}
{% load meus_filtros %}

{% block titulo %}
    Home 
{% endblock titulo %}

{% block teladescanso %}

    
<div class="form-group">
    <a href="{% url 'politica_seguranca' %}" class="btn-primary mb-3">Política de Segurança</a>
</div>
    <h5><b>Sobre nós:</b></h5>
    <p>A Fundação Hemocentro Diamantina, estabelecida em 26 de dezembro de 1989 pela Lei n° 10.057, é uma entidade com personalidade jurídica própria vinculada à Secretaria de Estado de Saúde de Minas Gerais. Sua missão é garantir a oferta de sangue e hemoderivados de qualidade à população, seguindo as orientações do Ministério da Saúde e da Anvisa. Além de coordenar políticas estaduais de hematologia e hemoterapia, o Hemocentro desempenha papéis cruciais em serviços, assistência médica, ensino, pesquisa, desenvolvimento tecnológico, produção, controle de qualidade e educação sanitária.
    </p>
    <p>
        Um compromisso fundamental do Hemocentro é promover a doação voluntária e regular de sangue, essencial para manter estoques adequados e atender às necessidades transfusionais. Essa prática altruísta salva vidas, sendo vital para emergências, cirurgias, tratamentos oncológicos e outras condições médicas. A conscientização sobre a importância da doação de sangue faz parte da missão da Hemocentro, buscando envolver a comunidade e fortalecer uma sociedade solidária e comprometida com o bem-estar coletivo.
    </p>
    <h5><b>Missão:</b> </h5>
    <p>
        A missão da instituição é destacar-se nas áreas de hematologia, hemoterapia, células e tecidos, comprometendo-se com a excelência, responsabilidade socioambiental, produção de conhecimento e inovação. Priorizando o aprimoramento técnico e científico, a instituição não só oferece serviços de alta qualidade, mas também se destaca por sua preocupação ambiental e pela contribuição significativa para o avanço nas áreas de saúde. Essa abordagem holística reflete um comprometimento integral com o bem-estar da comunidade e o progresso contínuo na promoção da saúde.
    </p>
    <h5><b>Visão:</b></h5>
    <p>
        O Hemocentro Diamantina visa ser líder em hemoterapia, hematologia, terapia celular e tecidos, destacando-se pela inovação, simplificação de processos e sustentabilidade. Essa liderança é caracterizada não apenas pela excelência técnica, mas também pela capacidade de adaptação às mudanças do setor. A constante busca por inovação coloca a instituição na vanguarda, enquanto a simplificação dos processos visa promover eficiência operacional. A preocupação com a sustentabilidade evidencia responsabilidade ambiental, consolidando o Hemocentro não apenas como líder, mas como um agente comprometido com o avanço contínuo na prestação de serviços de saúde.
    </p>
    <h5><b>Valores:</b> </h5>
    <ul style="list-style-type: circle">
        <li>Comprometimento </li>
        <li>Integridade </li>
        <li>Eficiência </li>
        <li>Respeito e valorização do ser humano</li>
        <li>Credibidade </li>

        <p>
            Gestor responsável: Assessoria da Qualidade

        </p>

    </ul>

{% endblock teladescanso %}