{% extends 'base.html'%}

{% load meus_filtros %}

{% block titulo %}
Login
{% endblock titulo %}

{% block conteudo %}
<div class="container d-flex justify-content-center" id="topo" style=" max-width: 400px;margin-top: 80px; padding: 0; font-family:Arial, Helvetica, sans-serif; ">
  <h3 class="py-3 " style=" font-weight: bold;">Login</h3>
</div>
<div class="container" style="max-width: 400px; font-family:Arial, Helvetica, sans-serif; 
                              margin-top: 5px; border: 1px solid #414141; 
                              padding: 10px; border-radius: 8px;
                              box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); ">
  
  <style>
    .form-group {
        padding: 5px;
    
    }
  </style>
  
  <form method="POST" class=" formulario">
    {% csrf_token %}
  
    {% for msg in messages%}
      <div class="alert alert-danger">
        {{ msg }}
      </div>
    {% endfor %}
  
    <div class="form-group">
      {{ form_login.username.errors }}
      <label>Nome de usuário: </label>
      {{ form_login.username|addclass:'form-control' }}
    </div>
  
    <div class="form-group">
      {{ form_login.password.errors }}
      <label>Senha: </label>
      {{ form_login.password|addclass:'form-control' }}
    </div>
  
    <div class="form-group d-flex justify-content-center ">
      <input type="submit" value="Logar" class="btn btn-success mt-3">
    </div>
  </form>

</div>


{% endblock conteudo %}