{% extends 'base.html' %}  <!--herança de template-->

{% block titulo %}
Lista de funcionario
{% endblock titulo %}

{% block conteudo %}

<h4 class="py-3"> Funcionários </h4>
<a href="{% url 'cadastrar_funcionario' %}"><input type="button" class="btn btn-primary mb-3" value="Cadastrar novo Funcionário"></a>


{% for i in funcionario %}

<div class="card mb-3">
    
    <div class="card-body">
        <h5 class="card-title"> Nome : {{ i.nome }} </h5>
        <h6 class="card-text"> CPF:: {{ i.cpf }} </h6>
        <h6 class="card-text"> Endereço: {{ i.endereco }} </h6>
        <h6 class="card-text"> Telefone: {{ i.telefone }} </h6>
        <h6 class="card-text"> Usuario: {{ i.usuario }} </h6>
        <hr>
        <a href="{% url 'editar_funcionario' i.id %}">Editar</a>
        <a href="{% url 'excluir_funcionario' i.id %}">Excluir</a>
    </div>
</div>

{% endfor %}

{% endblock conteudo %}