{% extends 'base.html' %}  <!--herança de template-->
{%  load static %}

{% block titulo %}
Lista de lembretes
{% endblock titulo %}

{% block conteudo %}

<div class="col-8 m-auto pt-2 pb-2 text-center" style="display: flex; align-items: center;">
    <img src="{% static 'imagens/gif_doacoes.gif' %}"  alt="logo" class="img-fluid" width="170" style="margin-right: 25px;">
    <h1 style="color: black;">Página Principal<h1>

</div>
<a href="{% url 'listar_doador' %}"><input type="button" class="btn btn-primary mb-3" value="Visualizar Doadores"></a>
<a href="{% url 'cadastrar_tiposangue' %}"><input type="button" class="btn btn-primary mb-3" value="Inserir Tipo de Sangue"></a>
<a href="{% url 'cadastrar_hospital' %}"><input type="button" class="btn btn-primary mb-3" value="Cadastrar Hospital"></a>
<a href="{% url 'solicitar_dispersao' %}"><input type="button" class="btn btn-primary mb-3" value="Solicitação de Dispersão"></a>
<a href="{% url 'inserir_doacao' %}"><input type="button" class="btn btn-primary mb-3" value="Nova Doação "></a>
<a href="{% url 'cadastrar_agendamento' %}"><input type="button" class="btn btn-primary mb-3" value="Agendamento"></a>

{% for i in agendamentos %}

    <div class="card mb-3">
        
        
        <div class="card-body">
            <h4 class="card-title"> Doador: {{ i.cod_doador }} </h4>
            <h6 class="card-subtitle"> Data e Hora: {{ i.data_hora }} </h6>
            <hr>
            <a href="{% url 'editar_agendamento' i.id %}">Editar</a>
            <a href="{% url 'excluir_agendamento' i.id %}">Excluir</a>
        </div>
    </div>

{% endfor %}



{% endblock conteudo %}