{% extends 'base.html' %}  <!--herança de template-->
{%  load meus_filtros %}

{% block titulo %}
Lista de lembretes
{% endblock titulo %}

{% block conteudo %}

    <div class="d-flex justify-content-end">
        <a href="{% url 'home' %}" class="ml-auto">
            <button type="button" class="btn-primary mb-3">Voltar a Home </button>
        </a>
    </div>

{% for i in agendamentos %}

    <div class="card mb-3"> 
        <div class="card-body">
            <h4 class="card-title"> Doador: {{ i.cod_doador }} </h4>
            <h6 class="card-subtitle"> Data e Hora: {{ i.data_hora }} </h6>
            <hr>
            <a href="{% url 'editar_agendamento' i.id %}">Editar</a>
            <a href="{% url 'excluir_agendamento' i.id %}">Excluir</a>
        </div>
    </div>

{% endfor %}

{% endblock conteudo %}