{% extends 'base.html' %}


{% load static %}
{% load meus_filtros %}

{% block titulo %}
    Home 
{% endblock titulo %}

{% block teladescanso %}

    <h5>Política de Segurança da Informação (PSI)</h5>
    <h6> Revisão: 01 </h6>
    <h6>Data: Setembro de 2023 </h6>
    <a href="{{ request.META.HTTP_REFERER }}" class="btn btn-primary">Voltar</a>
    <h6><b> Objetivo</b></h6>
    <p>
        Estabelecer diretrizes para o tratamento e a segurança das informações do HEMOCENTRO DIAMANTINA seguindo os princípios da Lei nº 13.709/2018 - Lei Geral de Proteção de Dados Pessoais e informações mantidas pelo Hemocentro Diamantina, conforme abaixo definido. O presente documento possui caráter estratégico, com o objetivo de promover o gerenciamento da segurança das informações do Hemocentro Diamantina, sob os aspectos de confidencialidade, integridade, disponibilidade e legalidade.
    </p>
    <h6><b> Abrangência</b></h6>
    <p>
        A Política de Segurança da Informação se estende a todos os membros do Hemocentro Diamantina, que manuseiam informações e recursos da instituição. A adesão a esta Política é imperativa e está alinhada com a legislação e regulamentação aplicáveis aos temas relacionados à Legislação Geral de Proteção de Dados e Segurança da Informação. Essa política é também aplicável a todos os públicos, como colaboradores em regime CLT, Diretores Executivos, Conselhos, Cooperados, Prestadores de Serviços Médicos e Rede Prestadora de Serviços, que operam com as informações e recursos do Hemocentro Diamantina.
    </p>
    <h6><b>Definições</b></h6>
    <p><b>Lei Geral de Proteção de Dados Pessoais:</b> Significa  que a lei brasileira nº 13.709/2018, que regulamenta as atividades de Tratamento de Dados Pessoais, inclusive nos meios digitais, por pessoa natural ou por pessoa jurídica de direito público ou privado, com o objetivo de proteger os direitos fundamentais de liberdade e de privacidade, estabelecendo regras sobre coleta, armazenamento, tratamento e compartilhamento de dados pessoais, impondo mais proteção e penalidades para o não cumprimento.
    </p>
    <p><b>Segurança da Informação:</b> Significa a forma de gerenciar as informações de uma organização. Por meio da preservação de propriedades como: confidencialidade, integridade, disponibilidade, autenticidade e legalidade, não se limitando a sistemas computacionais, informações eletrônicas e/ou sistemas de armazenamento.
    </p>
    <p><b>ISO/IEC 27001:</b>Significa o padrão para sistema de gestão da segurança da informação publicado pelo International Organization for Standardization e pelo International Electrotechnical Commission e descreve como gerenciar a segurança da informação em uma organização.
    </p>
    <p><b>Política de Segurança da Informação e Privacidade(PSI):</b>A Política de Segurança da Informação e Privacidade define o conjunto de normas, métodos, instruções e procedimentos utilizados na proteção dos ativos de informação e na prevenção de responsabilidade legal para todos os usuários. A Política de Segurança e Privacidade da Informação deve ser formalizada e divulgada a todos os usuários que fazem uso dos ativos de informação da Organização.
    </p>
    <p><b>Ativos:</b> É o termo utilizado para expressar bens patrimoniais como equipamentos de tecnologia em geral.</p>
    <p><b>Usuário:</b> Um usuário ou utilizador é um agente, tanto um agente humano (usuário final) como um agente de software, que usa um computador ou serviço de rede.</p>
    <p><b>Malwares:</b> Termo usado para descrever programas maliciosos que causam danos nos sistemas computacionais.</p>
    <p><b>VPN:</b> Sigla em inglês para “Virtual Private Network” ou Rede Virtual Privada.</p>
    <p><b>Hardwares:</b> É a parte física de um dispositivo computacional (componentes eletrônicos).</p>
    <p><b>Softwares:</b> É o conjunto dos programas e dos meios não materiais que possibilitam o funcionamento do computador, na execução das diversas tarefas.</p>
    <p><b>Spam:</b> Mensagens enviadas em massa sem uma solicitação prévia, a fim de divulgar e distribuir propagandas por e-mail.</p>
    <p><b>Acesso Remoto:</b> É a capacidade de acesso a um dispositivo computacional de qualquer outro local remoto.</p>
    <h6><b> Diretrizes</b></h6>
    <p>
        O Hemocentro Diamantina reitera seu comprometimento com a proteção das informações sob sua responsabilidade, mantendo-se vigilante na observância da legislação em vigor, bem como de seu estatuto social e demais políticas de governança. Esta política visa definir de maneira clara os conceitos, diretrizes e responsabilidades relacionados à segurança das informações da instituição, assim como das informações de seus clientes sob sua custódia. O objetivo é preservar os pilares de Segurança da Informação, assegurar que o tratamento de dados esteja em conformidade com a legislação aplicável e gerir adequadamente os riscos de segurança da informação. A finalidade última é garantir a confiabilidade das informações e preservar a imagem do Hemocentro Diamantina garantindo a confiabilidade das informações e preservando a imagem do Hemocentro Diamantina perante a comunidade de saúde e seus colaboradores.
    </p>
    <h5><b> Aplicação da Política de Segurança da Informação
    </b></h5>
    <p>
        A Política de Segurança da Informação é extensiva a todos os membros envolvidos nas atividades do Hemocentro, abrangendo colaboradores sob regime CLT, diretores executivos, conselheiros, cooperados, prestadores de serviços médicos e a rede prestadora de serviços.
    </p>
    <h5><b>Contratação, Conscientização e Treinamento</b></h5>
    <p>
        Na contratação dos novos funcionários é entregue a PSI-01 Política de Segurança da
Informação para que todos tenham conhecimento.
Periodicamente podem ser enviadas informações referentes à Segurança da Informação
através do Boletim de Segurança da Informação a fim de conscientizar os funcionários,
cooperados e rede prestadora.
    </p>
    <h5><b>Proteção da Informação</b></h5>
    <p>
        Todas as informações do Hemocentro, independentemente do formato (físico ou eletrônico), devem ser resguardadas contra divulgação, alteração ou furto mediante a aplicação de controles pertinentes. Dentre essas precauções, destaca-se que as informações críticas ou sensíveis devem ser armazenadas em áreas seguras, protegidas por barreiras de segurança apropriadas. Além disso, o acesso a essas áreas deve ser estritamente controlado, com registros e monitoramento para garantir a integridade e confidencialidade das informações.
    </p>
    <h5><b>Controle de Acesso</b></h5>
    <p>
        As redes no Hemocentro Diamantina são segregadas por áreas, garantindo que apenas os colaboradores designados para cada setor tenham acesso a esses ambientes específicos. Vale ressaltar que os perfis de acesso não diferem em privilégios, assegurando uma distribuição equitativa. Nos sistemas de ERP, como Solus, MKSaude e MV, os acessos são criteriosamente restritos conforme a função de cada usuário. Por exemplo, diferentes perfis são estabelecidos, como Médico, Secretária, Enfermeiros, Usuário do Setor Financeiro e Usuário do Setor Comercial, cada um com permissões específicas de acordo com suas responsabilidades. Essa medida visa garantir a segurança e a confidencialidade das informações, promovendo um ambiente digital estruturado e alinhado com as necessidades operacionais do Hemocentro.
        Para os funcionários, todos os acessos às informações (rede, pastas, sistema) assim como
        acesso a internet e e-mails devem ser autorizados previamente pelo Gestor do solicitante.
        As solicitações de acesso são realizadas através de chamado para o setor de Tecnologia da
        Informação, anexando no mesmo o e-mail de autorização do Gestor.
        
    </p>
    <h6><b>Recursos</b></h6>
    <p>
        Os recursos disponibilizados pelo Hemocentro Diamantina aos usuários de seus sistemas de tecnologia internos, como rede, internet, sistemas ERP, e-mail e equipamentos, devem ser utilizados de maneira exclusiva para fins profissionais, éticos, seguros e legais. A detecção de uso inadequado, ou seja, a utilização dos recursos disponibilizados sem autorização ou para propósitos não profissionais relacionados à atividade exercida, sujeitará o usuário a penalidades estabelecidas pela instituição Hemocentro Diamantina.
Os recursos da instituição não devem ser empregados para recebimento, divulgação, exibição, transmissão ou execução de conteúdo que seja:
<ol type="a">
    <li>Ilícito;</li>
    <li>Contrário aos padrões éticos;</li>
    <li>Pornográfico, obsceno ou pedófilo;</li>
    <li>Que gere calúnia, difamação, ofensas ou ameaças;</li>
    <li>Práticas de atos discriminatórios (relacionados a sexo, raça, cor, crenças ou qualquer outro);</li>
    <li>Propaganda política;</li>
    <li>Que violem os direitos de propriedade intelectual de terceiros;</li>
    <li>Ofensivos ao sistema do Hemocentro Diamantina.</li>
  </ol>
  Além disso, é proibido o envio de conteúdos que contenham malwares, spam ou outros elementos físicos e eletrônicos que possam causar danos ou impedir o funcionamento dos hardwares e softwares do Hemocentro Diamantina. O não cumprimento destas diretrizes pode acarretar em medidas disciplinares conforme determinado pela instituição.
  O hemocentro Diamantina exonera-se de qualquer responsabilidade do uso indevido dos recursos disponibilizados, tendo o direito de analisar os dados e evidências para obtenção de provas a serem utilizadas nos processos investigatórios e adotar as medidas legais cabíveis. Tornando-se públicos no caso de exigência judicial.
 
    </p>
    <h5><b>Deveres</b></h5>
    <p>
        São deveres dos funcionários:
        <ol type="a">
            <li>Zelar pela segurança e senha de acesso à sua caixa de correio eletrônico, que é de caráter pessoal e intransferível.</li>
            <li>Redigir as mensagens de forma clara, objetiva e formal.</li>
            <li>Excluir imediatamente quaisquer mensagens caracterizadas como spam e notificar a equipe de Tecnologia da Informação em caso de recebimento constante destas mensagens.</li>
          </ol>
          
    </p>
    <h5><b>Monitoramento</b></h5>
    <p>
        Serão implementados controles adequados em todos os recursos necessários para minimizar os riscos aos ativos do Hemocentro Diamantina, visando prevenir e detectar ameaças, vulnerabilidades e violações a esta Política de Segurança da Informação e aos demais procedimentos da instituição. Para salvaguardar os ativos internos do Hemocentro Diamantina, a instituição reserva-se o direito de:
        <ol type="a">
            <li>Monitorar estações de trabalho, servidores, correio eletrônico (e-mail), acesso à internet e todos os demais recursos disponibilizados;</li>
            <li>Implementar sistemas de proteção preventiva e detecção para garantir a segurança das informações;</li>
            <li>Inspecionar sistemas de proteção preventiva e detecção para assegurar a segurança das informações;</li>
            <li>Analisar todos os arquivos na rede ou em qualquer outro ambiente conectado a ela;</li>
            <li>Avaliar equipamentos de sua propriedade ou de terceiros que estejam em suas instalações físicas ou em contato com seus ambientes eletrônicos, quando necessário;</li>
            <li>Instalar câmeras de vigilância conforme julgar necessário;</li>
            <li>Gravações de chamadas são propriedades do Hemocentro Diamantina e podem ser disponibilizadas apenas para fins de processos jurídicos mediante solicitação judicial.</li>
          </ol>
          
    </p>
    <h5><b>Propriedade Intelectual</b></h5>
    <p>
        Todas as informações produzidas pelos funcionários no desempenho de suas atividades são de propriedade do Hemocentro Diamantina e estão resguardadas por sigilo profissional.

    </p>
    <h5><b>Responsabilidades</b></h5>
    <p>
        Todos os envolvidos nesta Política de Segurança da Informação do Hemocentro deverão:
        <ol type="a">
            <li>Cumprir e zelar pelas regras de Segurança da Informação;</li>
            <li>Responsabilizar-se por qualquer ato que causarem prejuízos ao Hemocentro em decorrência do não cumprimento desta Política;</li>
            <li>Zelar pela confidencialidade de qualquer login/senha que lhe tenha sido concedido;</li>
            <li>Utilizar os recursos disponibilizados pelo Hemocentro para fins exclusivamente do exercício de sua atividade;</li>
            <li>Buscar orientação com a área de Tecnologia da Informação sempre que estiver inseguro quanto ao manuseio e descarte de informações;</li>
            <li>Não divulgar informações do Hemocentro em locais públicos e em ambientes virtuais, tais como redes sociais, salas de bate-papo, fóruns de discussão, entre outros;</li>
            <li>Reportar formalmente todos os incidentes que tenham tomado conhecimento, os quais possam afetar ou afetaram a Confidencialidade, Integridade e Disponibilidade das Informações.</li>
          </ol>
    <b>Os gestores do Hemocentro devem:</b> Cumprir, fazer cumprir e zelar pelas regras de Segurança da Informação; b. Ter postura exemplar em relação à Segurança da Informação, servindo como modelo de conduta para os colaboradores sob a sua gestão; c. Adaptar processos sob sua responsabilidade para atender a esta Política de Segurança da Informação; d. Informar no ato da demissão do colaborador, à área de Tecnologia da Informação para retirada imediata dos acessos.<br>
    <b>O departamento de Recursos Humanos do Hemocentro deverá:</b> Fornecer a todos os novos funcionários a Política de Segurança da Informação. b. Fornecer a todos os novos funcionários o Termo de Sigilo para assinatura.<br>
    <b>Os Médicos Cooperados, Prestadores de Serviços Médicos e Rede Prestadora do Hemocentro deverão:</b> Informar ao setor de Tecnologia da Informação do Hemocentro, sempre que houver a troca do usuário do sistema, ou seja, secretarias, recepcionistas e demais usuários.

    </p>
    <h5><b>Gerenciamento de Senhas do Usuário</b></h5>
    <p>
        A senha de acesso inicial ao computador deve ser temporária e gerada com data de
    expiração, para que o colaborador altere-a logo após o primeiro acesso.
    O colaborador será bloqueado após 5 tentativas frustradas de autenticação e será
    liberado para tentar novamente após 30 minutos ou o colaborador deverá entrar em
    contato com a Equipe de TI para geração de uma nova senha de acesso inicial.
    Caso haja esquecimento da senha, deve-se entrar em contato com a Equipe de TI para
    criação de uma nova senha inicial que deverá ser alterada posteriormente.
    É de responsabilidade de cada usuário, guardar e manter o seu login/senha, sendo
    <B>PROIBIDO</B> o compartilhamento da mesma.

    </p>
    <h5><b>Bloqueio/Cancelamento/Desvios</b></h5>
    <p>
        <ol type="a">
            <li>Na demissão de um funcionário, antes do mesmo ser comunicado, a Gestão de Pessoas deverá solicitar à TI o bloqueio do acesso ao Computador.</li>
            <li>Quando houver desligamento de funcionários, a conta de correio eletrônico deverá ser excluída. Em situações específicas, pode ser necessário transferir as informações do e-mail para um determinado computador, onde ficará disponível para consulta, e redirecionar os e-mails enviados desse endereço para outro determinado e-mail escolhido pelo superior imediato, dependendo das informações contidas no e-mail necessárias para o andamento da Cooperativa. As contas de acesso aos sistemas por ele utilizadas nas suas atividades serão bloqueadas/desativadas, mantendo os históricos de utilização por ele realizados, mediante o recebimento pela TI do comunicado de desligamento enviado através da Gestão de Pessoas.</li>
            <li>Quando o funcionário se ausentar (férias, licença, entre outros), as mensagens podem ser redirecionadas a outro funcionário.</li>
          </ol>
          
    </p>
    <h5><b>Uso de Conexão Remota(uso interno)</b></h5>
    <p>
        O acesso via conexão remota será permitido mediante a solicitação realizada pelo
diretor/gerente da área, em casos de necessidade para execução das atividades do
setor.
A conexão remota para execução de trabalho de suporte técnico de TI e para auditorias
médicas serão permitidas, mediante ao uso de antivírus confiável no computador de
origem, após analisado e comprovado pelo Departamento de TI.
O acesso remoto se faz através de uma conexão de área de trabalho remoto através de
dois links de endereços distintos até o servidor de Terminal Service e é necessário o
login de rede do usuário ter autorização a conectar a esse servidor.


    </p>
    <h5><b>Descumprimento da Política de Segurança da Informação</b></h5>
    <p>
        O descumprimento das regras estabelecidas nesta Política de Segurança da Informação, mesmo que não tenham gerado prejuízos para o Hemocentro Diamantina, poderá acarretar a aplicação de punição. Em primeira instância, será enviado um comunicado ao Gestor responsável. As demais situações serão analisadas pontualmente.
Para os demais públicos, como cooperados e a rede prestadora, as infrações também serão analisadas pontualmente pela Diretoria Executiva do Hemocentro Diamantina.

    </p>
    <h5><b>Nota Final</b></h5>
    <p>
        A alegação de desconhecimento desta política não exime o infrator da responsabilidade sobre as infrações cometidas bem como as possíveis sanções a ele impostas.
A Política de Segurança da Informação encontra-se disponível no site do Hemocentro Diamantina
 www.hemocentrodiamantina.gov.br. Em caso de dúvidas, quanto ao teor deste documento ou para relatar qualquer incidente de risco de segurança da informação, o colaborador deverá utilizar o e-mail: informatica_ti@hemocentrodtna.com.br.
    <br>Gestor responsável: Assessoria da Qualidade 
    </p>

{% endblock teladescanso %}

