{% extends 'base.html' %}  <!--herança de template-->

{% block titulo %}
Lista de Doações
{% endblock titulo %}

{% block conteudo %}

<h4 class="py-3"> Doações</h4>

    {% for i in doacao %}

        <div class="card mb-3">
            
            <div class="card-body">
                <h5 class="card-title"> Agendamento: {{ i.cod_agen }} </h5>
                <h6 class="card-text"> Nome Funcionário: {{ i.cod_func }} </h6>
                <h6 class="card-text"> Data da Doação: {{ i.data_hora}} </h6>
                
                <hr>
                <a href="{% url 'editar_doacao' i.id %}">Editar</a>
                <a href="{% url 'excluir_doacao' i.id%}">Excluir</a>
            </div>
        </div>

    {% endfor %}

<a href="{% url 'inserir_doacao' %}"><input type="button" class="btn btn-primary mb-3" value="Cadastrar nova Doação"></a>

{% endblock conteudo %}